.add-option-error {
  color: $off-white;
  font-style: italic;
  padding: 0 $m-size;
  margin: $m-size 0 0 0;
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.add-option__input {
  flex: 1 1 100%;
  border: none;
  border-radius: 5%;
  margin-bottom: $s-size;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  background: $dark-blue;
  color: $off-white;  // color of text
  padding: $s-size;  // padding effects the text position
}

// Define Styling for screen larger then 450px
@media (min-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: row;
  }
  .add-option__input {
    margin-right: $s-size;
    margin-bottom: 0;
  }
}